{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block titulo %}
    <title>Página Inicial</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    

</head>
<body>

    <nav class="menu-superior">
        <ul>
            <li><a href="{% url 'inicio' %}">Início</a></li>
            <li><a href="{% url 'sobre' %}">Sobre nós</a></li>
            <li><a href="{% url 'add-country' %}">Paises</a></li>
            <li><a href="{% url 'add-economicbloc' %}">Blocos Economicos</a></li>
            <li><a href="{% url 'add-economicsector' %}">Setor Econômico</a></li>
            <li><a href="{% url 'add-blockmembership' %}">Adesão Bloco</a></li>
            <li><a href="{% url 'add-economy' %}">Economia</a></li>
            {% comment %} <li><a href="{% url 'map' %}">Map</a></li> {% endcomment %}
        </ul>
    </nav>


    {% block conteudo %}
    
    {% endblock %}
</body>
</html>